In [1]:
import pandas as pd

In [2]:
extractions = pd.read_csv('../data/processed/lotto_historical.csv')

In [3]:
extractions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39263 entries, 0 to 39262
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    39263 non-null  object
 1   wheel   35652 non-null  object
 2   n1      39263 non-null  int64
 3   n2      39263 non-null  int64
 4   n3      39263 non-null  int64
 5   n4      39263 non-null  int64
 6   n5      39263 non-null  int64
dtypes: int64(5), object(2)
memory usage: 2.1+ MB

In [4]:
extractions.tail()

             date wheel  n1  n2  n3  n4  n5
39258  2025/02/04    PA  63   6  75  80  25
39259  2025/02/04    RM   8   9  14  46   6
39260  2025/02/04    RN  50  89  12  80  52
39261  2025/02/04    TO  55  20  17  23  80
39262  2025/02/04    VE  19  81  40  77  28

In [5]:
extractions['year'] = extractions['date'].apply(lambda x: int(x.split('/')[0]))
extractions['month'] = extractions['date'].apply(lambda x: int(x.split('/')[1]))
extractions['day'] = extractions['date'].apply(lambda x: int(x.split('/')[2]))
extractions.drop('date', axis=1, inplace=True)

In [6]:
extractions.tail()

      wheel  n1  n2  n3  n4  n5  year  month  day
39258    PA  63   6  75  80  25  2025      2    4
39259    RM   8   9  14  46   6  2025      2    4
39260    RN  50  89  12  80  52  2025      2    4
39261    TO  55  20  17  23  80  2025      2    4
39262    VE  19  81  40  77  28  2025      2    4

In [7]:
last_100_extractions = extractions.groupby('wheel').tail(1000)

frequencies = last_100_extractions.melt(id_vars=['wheel'], value_vars=['n1', 'n2', 'n3', 'n4', 'n5'], 
                                        var_name='num_pos', value_name='number') \
                                  .groupby(['wheel', 'number']) \
                                  .size() \
                                  .reset_index(name='frequency')

most_frequent = frequencies.groupby('wheel').apply(lambda x: x.nlargest(10, 'frequency')).reset_index(drop=True)

least_frequent = frequencies.groupby('wheel').apply(lambda x: x.nsmallest(10, 'frequency')).reset_index(drop=True)

most_frequent.to_csv('../data/historical_stats/most_frequent.csv', index=False)

least_frequent.to_csv('../data/historical_stats/least_frequent.csv', index=False)

/var/folders/8h/b6sjd9l522v8k4p6t77m8fpm0000gn/T/ipykernel_11867/1014862463.py:9: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  most_frequent = frequencies.groupby('wheel').apply(lambda x: x.nlargest(10, 'frequency')).reset_index(drop=True)
/var/folders/8h/b6sjd9l522v8k4p6t77m8fpm0000gn/T/ipykernel_11867/1014862463.py:11: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  least_frequent = frequencies.groupby('wheel').apply(lambda x: x.nsmallest(10, 'frequency')).reset_index(drop=True)