In [1]:
import pandas as pd

In [2]:
extractions = pd.read_csv('../data/processed/lotto_historical.csv')

In [3]:
extractions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39417 entries, 0 to 39416
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    39417 non-null  object
 1   wheel   39417 non-null  object
 2   n1      39417 non-null  int64
 3   n2      39417 non-null  int64
 4   n3      39417 non-null  int64
 5   n4      39417 non-null  int64
 6   n5      39417 non-null  int64
dtypes: int64(5), object(2)
memory usage: 2.1+ MB

In [4]:
extractions.tail()

             date      wheel  n1  n2  n3  n4  n5
39412  2025/02/28    PALERMO  30  59  72  83  40
39413  2025/02/28         RM  58  21  75  70  55
39414  2025/02/28  NAZIONALE  14  78  18  40   8
39415  2025/02/28     TORINO  42  47  84  72  67
39416  2025/02/28    VENEZIA  64  57  33  84  19

In [5]:
extractions['year'] = extractions['date'].apply(lambda x: int(x.split('/')[0]))
extractions['month'] = extractions['date'].apply(lambda x: int(x.split('/')[1]))
extractions['day'] = extractions['date'].apply(lambda x: int(x.split('/')[2]))
extractions.drop('date', axis=1, inplace=True)

In [6]:
extractions.tail()

           wheel  n1  n2  n3  n4  n5  year  month  day
39412    PALERMO  30  59  72  83  40  2025      2   28
39413         RM  58  21  75  70  55  2025      2   28
39414  NAZIONALE  14  78  18  40   8  2025      2   28
39415     TORINO  42  47  84  72  67  2025      2   28
39416    VENEZIA  64  57  33  84  19  2025      2   28

In [7]:
last_100_extractions = extractions.groupby('wheel').tail(100)

frequencies = last_100_extractions.melt(id_vars=['wheel'], value_vars=['n1', 'n2', 'n3', 'n4', 'n5'], 
                                        var_name='num_pos', value_name='number') \
                                  .groupby(['wheel', 'number']) \
                                  .size() \
                                  .reset_index(name='frequency')

most_frequent = frequencies.groupby('wheel').apply(lambda x: x.nlargest(10, 'frequency')).reset_index(drop=True)

least_frequent = frequencies.groupby('wheel').apply(lambda x: x.nsmallest(10, 'frequency')).reset_index(drop=True)

most_frequent.to_csv('../data/historical_stats/most_frequent.csv', index=False)

least_frequent.to_csv('../data/historical_stats/least_frequent.csv', index=False)

frequencies.to_csv('../data/historical_stats/numbers_frequency.csv', index=False)

/var/folders/8h/b6sjd9l522v8k4p6t77m8fpm0000gn/T/ipykernel_9277/3777930953.py:9: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  most_frequent = frequencies.groupby('wheel').apply(lambda x: x.nlargest(10, 'frequency')).reset_index(drop=True)
/var/folders/8h/b6sjd9l522v8k4p6t77m8fpm0000gn/T/ipykernel_9277/3777930953.py:11: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  least_frequent = frequencies.groupby('wheel').apply(lambda x: x.nsmallest(10, 'frequency')).reset_index(drop=True)